  
  <div class="ventana">

    <div class="modal_marco">

      <div class="margen">

        <form action="">

          <label for="">CODIGO DEL ARTICULO</label> <br>
          <input [(ngModel)]= "crud.idarticulo" type="text" name="idarticulo" id="idarticulo" placeholder="insertar el codigo del articulo"><br>

          <label for="">PRESENTACION</label> <br>
          <input [(ngModel)]="crud.presentacion" type="text" name="presentacion" id="presentacion" placeholder="pz,Pquetes,ml,gr,kg" ><br>

          <label for="">ARTICULO</label> <br>
          <input [(ngModel)]="crud.producto" type="text" name="producto" id="producto" placeholder="insertar el nombre del articulo"><br>

          <label for="">EXITENCIA</label> <br>
          <input [(ngModel)]="crud.existencia" type="text" name="existencia" id="existencia" placeholder="Numero de articulos"><br>

          <label for="">PRECIO DE VENTA </label> <br>
          <input [(ngModel)]="crud.precioventa" type="text" name="precioventa" id="precioventa" placeholder="$00.00"><br>

          <label for="">PRECIO DE COMPRA </label> <br>
          <input [(ngModel)]="crud.preciocompra" type="text" name="preciocompra" id="preciocompra" placeholder="$00.00"><br>


         
           </form> 
            <div class="container">
            <button class="btn_cerrar" (click)="close_modal_insertar()"> SALIR </button>
            <button class="btn_insertar" (click)="insertar_modulo()"> INSERTAR </button>

            </div>
      </div>
      
    </div>
    
  </div>
