  
  <div class="ventana">

    <div class="modal_marco">

      <div class="margen">

        <form action="">      
           
            <div class="container">
                <LAbel>INGRESA LA CANTIDAD</LAbel>
                <input type="text" [(ngModel)] = "this.gramaje" id="this.gramaje" name="this.gramaje" placeholder="ml,gr,kg,etc."><br>
                <button class="btn_cerrar" (click)="close_modal_insertar()"> CERRAR </button>
                <button class="btn_cerrar" (click)="enviar()"> AGREGAR </button>
            </div>
        </form> 
      </div>
      
    </div>
    
  </div>
