.ventana{
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
  }

  .modal_marco{
    border-radius: 12px;
    background:white;
    text-align: center;
    border: solid;
    height: 500px;
    width: 500px;
    margin: 100px;
    margin-left: 500px;
  }

  .margen{
    color: black;
    text-align: center;
   
  }
  
  input[type=text], select {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .btn_cerrar{
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    text-align: center;
  }
  
  .btn_cerrar:hover {
    background-color: black;
    color: white;
  }

  .btn_insertar{
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    text-align: center;
  }
  
  .btn_insertar:hover {
    background-color: black;
    color: white;
  }
  
  