.container{
    width: 400px;
    height: 625px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-left: 550px;
    margin-top: 150px;
  }

  .formulario{
    margin-top: 100px;
  }

  .normal{
    width: 350px;
    height: 45px;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .apellidos{
    width: 160px;
    height: 45px;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  form button{
    width: 200px;
    height: 45px;
    margin-left: 100px;
    border-radius: 5px;
  }

  form h3{
    margin-left: 20px;
  }

  form span{
    margin-left: 20px;
  }
