<p>Registro de empleado</p>
<div class="container">
  <div class="formulario">
    <form>
      <input [(ngModel)]="_empleado.nombre" [ngModelOptions]="{standalone: true}" class="normal" type="text" placeholder="Nombre (s)">
      <input [(ngModel)]="_empleado.apellido1" [ngModelOptions]="{standalone: true}"  class="apellidos" type="text" placeholder="Apellido parterno">
      <input [(ngModel)]="_empleado.apellido2" [ngModelOptions]="{standalone: true}" class="apellidos" type="text" placeholder="Apellido materno">
      <input [(ngModel)]="_empleado.fechanacimiento" [ngModelOptions]="{standalone: true}" class="normal" type="date" placeholder="fecha de nacimiento">
      <h3>Sexo</h3>
      <input [(ngModel)]="_empleado.sexo" [ngModelOptions]="{standalone: true}" class="normal" type="text" placeholder="Sexo">
      <h3>INE/IFE</h3>
      <input [(ngModel)]="_empleado.idempleado" [ngModelOptions]="{standalone: true}" class="normal" type="text" placeholder="Número">
      <button (click)="agregarEmpleado()">Registrar</button>
    </form>
  </div>
</div>


<script>
    function changeprop(){
        var isCheckedfem = document.getElementById('fem').checked;
        var isCheckedmas = document.getElementById('mas').checked;
        if(isCheckedfem == true){
          document.getElementById('mas').checked = false;
        }

        if(isCheckedmas == true){
           document.getElementById('fem').checked = false;
        }
    }
</script>
