<div id="contenedor">
    <div id="opciones">
        <button id="eliminar" (click)="eliminar_lista()">Eliminar</button>
        <button id="exportar" (click)="btnCrearPdf()">Exportar</button>
      
    </div>
        <div id="tiempo_real">
            <app-ganancias-listo> </app-ganancias-listo>
        </div>
    
    <div id="reporte_impreso">
        <br> <br> 
    <h3>Reporte impreso</h3>
    <table>
        <tr>
            <td>ID VENTA</td>
            <td>VENTA TOTAL</td>
            <td>COSTO TOTAL</td>
            <td>ID GANANCIA</td>
            <td>GANANCIA</td>
            <td>FECHA</td>
            <td>HORA</td>
        </tr>
        <tr>
            <tr *ngFor = "let LISTA_DATOS_2 of r_2">
                <td>{{LISTA_DATOS_2.idventa}}</td>
                <td>${{LISTA_DATOS_2.vendido}}</td>
                <td>${{LISTA_DATOS_2.totalcompra}}</td>
                <td>{{LISTA_DATOS_2.idganancias}}</td>
                <td>${{LISTA_DATOS_2.ganacia}}</td>
                <td>{{LISTA_DATOS_2.fecha}}</td>
                <td>{{LISTA_DATOS_2.hora}}</td>
        </tr>
    </table>
    </div>
</div>