<div class="ventana">
  <div class="modal_marco">
    <div class="margen">
<form >
<label for="">Buscador</label><br>
<input class="buscador" type="text" name="filtro" id="" placeholder="Escribe el nombre del artículo" [(ngModel)] = "filtro"> 
 <button class="" (click)="close_lista_busqueda()"> Salir </button>  <br><br>
<table id="customers">
<tr>
<th>Id_artículo</th> 
 <th>Artículo</th>
 <th>Presentación</th>
 <th>Precio_compra</th>
 <th>Precio_venta</th>
 <th>Listar</th>
 </tr>
 <tr *ngFor = "let INVENTARIO of ListarCrud | buscador:filtro">
 <td>{{ INVENTARIO.idarticulo }}</td>
 <td>{{ INVENTARIO.producto }}</td>
 <td>{{ INVENTARIO.presentacion }}</td>
 <td>{{ INVENTARIO.preciocompra }}</td>
 <td>{{ INVENTARIO.precioventa }}</td>
 <td><button (click) = "agregar_lista(
 INVENTARIO.idarticulo,
 INVENTARIO.producto,
 INVENTARIO.existencia,
 INVENTARIO.presentacion,
 INVENTARIO.preciocompra,
 INVENTARIO.precioventa)"  type="button" >Listar</button></td>
 </tr>
</table>

</form>
</div>
</div>
</div>