#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  button{
    width: 150px;
    height: 35px;
    background-color: #1670E7;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .buscador
  {
   margin-top: 20px;
  margin-bottom: 20px;
  width: 345px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  opacity: .5;
  }

  .ventana{
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: -200px;
    height: 200vh;
    width: 200vw;
    transition: all .5s;
  }

  .modal_marco{
    border-radius: 12px;
    background:white;
    text-align: center;
    border: solid;
    height: 600px;
    width: 1000px;
    margin: 100px;
    margin-left: 500px;
  }

  .margen{
    color: black;
    text-align: center;
   
  }
  
  .input[type=text], select {
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
 
  }
  

  
  