<ul>
    <li><a href="" routerLink="inventario_ventana">Inventario</a></li>
    <li><a href="" routerLink="empleado">Registrar empleado</a></li>
    <li><a href="" routerLink="usuario">Registrar usuario</a></li>
    <li><a href="" routerLink="verusuarios">Ver usuarios</a></li>
    <li><a href="" routerLink="verempleado">Ver empleados</a></li>
    <li><a href="" routerLink="config">configurar sistema</a></li>
    <li><a href="" routerLink="ganancias">ganancias</a></li>
    <li><a href="" (click)="cerrarsesion()">Cerrar sesión</a></li>
</ul>
<router-outlet> </router-outlet>
