* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#cuerpo #contenedor {
  width: 430px;
  height: 300px;
  background-color: whitesmoke;
  margin-left: 565px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 10px 5px 5px rgb(105, 101, 101);
  border-radius: 10px;
}

#cuerpo #contenedor button {
  margin-top: 10px;
  width: 350px;
  height: 50px;
  font-size: 16px;
  background-color: #1670E7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
