<div id="contenedor">
    <div id="tiempo_real">
    <h3>Reporte en tiempo real</h3>
    <table>
        <tr>
            <td>ID VENTA</td>
            <td>VENTA TOTAL</td>
            <td>COSTO TOTAL</td>
            <td>ID GANANCIA</td>
            <td>GANANCIA</td>
            <td>FECHA</td>
            <td>HORA</td>
            <td>Incluir</td>
        </tr>
        <tr *ngFor = "let LISTA_DATOS of r">
            <td>{{LISTA_DATOS.idventa}}</td>
            <td>${{LISTA_DATOS.vendido}}</td>
            <td>${{LISTA_DATOS.totalcompra}}</td>
            <td>{{LISTA_DATOS.idganancias}}</td>
            <td>${{LISTA_DATOS.ganacia}}</td>
            <td>{{LISTA_DATOS.fecha}}</td>
            <td>{{LISTA_DATOS.hora}}</td>
            <td><button (click)="agregar_reporte(
                LISTA_DATOS.idventa,LISTA_DATOS.vendido,
                LISTA_DATOS.totalcompra,LISTA_DATOS.idganancias,
                LISTA_DATOS.ganacia,LISTA_DATOS.fecha,LISTA_DATOS.hora)">AGRAGAR</button></td>
        </tr>
    </table>
    
    </div>

</div>