<div id="contenedor">
    <div id="tiempo_real">
    <table>
        <tr>
            <td>Id_venta</td>
            <td>Venta total</td>
            <td>Costo total</td>
            <td>Utilidad/Pérdida</td>
            <td>Fecha</td>
            <td>Hora</td>
            <td>Incluir</td>
        </tr>
        <tr *ngFor = "let LISTA_DATOS of r">
            <td>{{LISTA_DATOS.idventa}}</td>
            <td>${{LISTA_DATOS.vendido}}</td>
            <td>${{LISTA_DATOS.totalcompra}}</td>
            <td>${{LISTA_DATOS.ganacia}}</td>
            <td>{{LISTA_DATOS.fecha}}</td>
            <td>{{LISTA_DATOS.hora}}</td>
            <td><button (click)="agregar_reporte(
                LISTA_DATOS.idventa,LISTA_DATOS.vendido,
                LISTA_DATOS.totalcompra,LISTA_DATOS.idganancias,
                LISTA_DATOS.ganacia,LISTA_DATOS.fecha,LISTA_DATOS.hora)" id="agregar">Agregar</button></td>
        </tr>
    </table>
    
    </div>

</div>