<p>Registro de usuarios</p>
<div class="container">
  <div class="formulario">
    <form #form>
      <input [(ngModel)]="_usuario.nombreusuario" [ngModelOptions]="{standalone: true}" type="text" placeholder="Nombre de usuario">
      <input [(ngModel)]="_usuario.contrasena" [ngModelOptions]="{standalone: true}"  type="text" placeholder="Contraseña">
      <select name="miselect" [(ngModel)]="seleccionado">
        <option [value]="item" *ngFor="let item of lista">{{item}}</option>
      </select>
      <button (click)="agregarUsuario()">Registrar</button>
    </form>
  </div>
</div>
