
<div class="marco">
    <form [formGroup]="myForm" (ngSubmit)="submitFormulario()">


        <div class="formulario">
        <label for="">NOMBRE DEL USUARIO</label><br>
        <input formControlName="usuario" type="text" placeholder="COLOCA EL NOMBRE DE USUARIO"><br>

        <label for="">CONTRASEÑA DEL USUARIO</label><br>
        <input formControlName="password" type="password" placeholder="COLOCA EL NOMBRE DE USUARIO"><br>

        <button class="btn btn-success">INGRESAR</button>

         </div>

    </form>
</div>