* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#cuerpo #contenedor {
  width: 430px;
  height: 540px;
  background-color: whitesmoke;
  margin-left: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  box-shadow: 10px 5px 5px rgb(105, 101, 101);
  border-radius: 10px;
}

#cuerpo #contenedor form input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 345px;
  height: 50px;
  font-size: 16px;
  padding-left: 10px;
  opacity: 0.5;
}

#cuerpo #contenedor form button {
  width: 350px;
  height: 50px;
  font-size: 16px;
  background-color: #1670E7;;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.caja {
  margin:20px auto 40px auto;	
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
  width: 350px;
  position:relative;
}
select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 350px;
}
select:focus{ outline: none;}

.caja::after{
 content:"\025be";
 display:table-cell;
 padding-top:7px;
 text-align:center;
 width:30px;
 height:30px;
 background-color:#d9d9d9;
 position:absolute;
 top:0;
 right:0px;	
 pointer-events: none;
}



